@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1570px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1370px) {}

// Ipad pro 
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .grid3Col {
        grid-template-columns: repeat(2, 1fr);
    }

    .heroWrap {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        flex: 1;
        div{
display: flex;
        flex-direction: column;
        flex: 1;
        }
    }

    .heroWrap p.heroTop {
        font-size: 24px;
    }

    .heroWrap .heroImg {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }

    .heroWrap::after {
        width: 100%;
    }

    .heroWrap .heroContent {
        max-width: 100%;
        margin-left: 0;
        padding-top: 0;
        justify-content: center;
    }

    .heroNext h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .heroNext {
        grid-template-columns: 1fr 1fr;
    }

    .heroNext div {
        width: 100%;
    }

    .heroNext div img {
        width: 100%;
        height: 100%;
    }

    .aboutWrap .container {
        grid-template-columns: 1fr;
    }

    .aboutWrap .grid3Col {
        grid-template-columns: 1fr 1fr 1fr;
        width: fit-content;
    }

    .aboutWrap .aboutImg img {
        width: 100%;
    }
}

//  ipad 

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

//  mobile 
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .grid3Col {
        grid-template-columns: 1fr;
    }

    :root {
        --p100: 40px;
    }

    .heroWrap {
        margin-top: 72px;
    }

    .heroWrap p.heroTop {
        font-size: 13px;
        padding: 16px;
        line-height: 1.5;
    }

    .heroNext {
        grid-template-columns: 1fr;
    }

    .heroNext .heroNextContent {
        padding: 30px 0;
    }

    .aboutWrap .aboutContent {
        padding: 20px;
    }
    .aboutWrap h2 {
    font-size: 25px;
}
    .aboutWrap .grid3Col {
        gap: 8px;
    }
    .aboutWrap a.flex_align {
    font-size: 11px;
}
.aboutWrap ul {
    margin-bottom: 20px;
}
.aboutWrap.getTouch form {
    grid-template-areas:
        "aa" "bb"
        "cc"
        "dd"
        "ee";
    grid-template-columns: 1fr;
}
}